
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #F2F2F6;
}

.container{
  max-width: 940px;
  margin: 0 auto;
  height: auto;
}

.container__nav{
  height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 6px;
  background-color: #3B3D4D;
  color: #fff;
}

.container__title{
  padding-left: 20px;
  font-size: 18px;
  margin: 0;
}

.container__dropdown{
  display: flex;
  margin-top: 30px;
}

.dropdown__button,
.page__previus,
.page__next {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  width: 240px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border-color:transparent;
  box-shadow: 10px 10px 40px 0px #00000019;
  background-color: #fff;
  color: #000000;
  padding-left: 25px;
  margin-right: 20px;
  justify-content: space-between;
}

.dropdown__button.active + .filter__menu {
  display: block
}
.icon__down.transform{
  transform: rotate(180deg);
}

.dropdown{
  display: flex;
  margin-top: 30px;
}

.dropdown__item{
  line-height: 40px;
  text-transform: capitalize;
  cursor: pointer;
}

.container__pokemon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.container__info{
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
  width: 210px;
  height: 148px;
  background-color: #ffffff;
}

.container__img{
  width: 70px;
  margin-top: 14px;
}

.img__pokemon{
  width: 100%;
}

.pokemon__name{
  position: absolute;
  text-transform: capitalize;
  margin: 10px auto;
  left: 100px;
  top: 14px;
}

.pokemon__id{
  opacity: 0.5;
  position: absolute;
  margin: 10px auto;
  left: 100px;
  top: 41px;
}

.pokemon__type-1{
  text-transform: capitalize;
  width: 50%;
  height: 50px;
  margin-top: 10px;
  background-color: #3B3D4D;
  color: #fff;
}

.pokemon__type-2{
  position: absolute;
  text-transform: capitalize;
  height: 50px;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #3B3D4D;
  color: #fff;
}

.line {
  position: absolute;
  border-left: 0.1px solid #ffffff;
  height: 50px;
  left: 105px;
  bottom: 0px;
  z-index: 1;
}

.container__pagination{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page__previus, 
.page__next{
  width: 100px;
  margin: 1px;
  padding: 0;
  justify-content: space-evenly;
  border-radius: 0px;
}

/* Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3B3D4D;
  border-color: #3B3D4D transparent #3B3D4D transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring{
  position: absolute;
  top: 60%;
  left: 47%;
}

/* Filter by type */
.filter__menu{
  display: none;
  position: absolute;
  background-color: white;
  width: 240px;
  height: 251px;
  top: 136px;
  z-index: 2;
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  overflow-y: scroll;
}

.link__pokemon{
  text-decoration: none;
  color: black;
}

.width{
  width: 300px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.hide {
  display: none ;
}


